

    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        BASE (standard element resets, etc)
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - */
    html, body, address, blockquote, div, nav, main, form, fieldset, caption, h1, h2, h3, h4, h5, h6, hr, ul, li, ol, ul, table, tr, td, th, p, img {
        margin: 0;
        padding: 0;
    }
    html {
        font-size 16px;
    }
    img, fieldset {
        border: none;
      }
    body {
        font-family: 'Open-Sans', sans-serif;
        font-weight: 300;
        font-size: 62.5%;
        background: #FFF;
    }

    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Now when we set a width, that element stays that width, despite
    padding or borders being applied.
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

    *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }



/* GRID & SITE STRUCTURE */

.container {
  width: 96%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

header {
  /*border: solid 1px #805A15;*/
  width: 100%;
}

#catlist {
  background: #FFF7D0;
  float: left;
  font-family: 'Rock Salt', cursive;
  font-size: 1.8em;
  height: 600px;
  line-height: 2em;
  padding:5px 15px 0 15px;;
  position: relative;
  width: 30%
}
#clicker {
  /*border: solid 1px #805A15;*/
  float: left;
  height: 600px;
  padding-left: 20px;
  position: relative;
  width: 70%;
  overflow-y: hidden;
  overflow-x: hidden;
}
#ticker  {
clear:left;
height: 60px;
width: 100%;
background: #BED2F6;

}

/* ELEMENTAL STYLE  */
h1 {
   font-family: 'Tangerine', cursive;
    color: #805A15;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 5em;
    text-align: center;
    font-weight:bold;
    margin: 40px 0 30px;;
}
.nav-header  {
  display: block;
  border-bottom: solid black 1px;
  font-family: 'Open Sans', san-serif;
  font-size: 1.2em;
  font-weight:600;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
.nav-footer  {
  font-family: 'Open Sans', san-serif;
  font-size: .8em;
  font-style:italic;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: block;
  background: #716010;
}

.swap-cats  {
height: auto;
width: 100%;

}
.ticker-tape {
  float: left;
  font-size: 2em;
  color: tomato;
}

.ticker-counter {
  float: right;
  font-size: 3em;
  color: #000;
}
